/*  your css code here. If applicable */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 10px; 
  justify-content: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  height: 150px;
  width: 200px;
  border-radius: 5px;
  font-size: 40px;
}